<!DOCtipo html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar pokemon</title>
</head>
<body>

    <form action="">
        <label for="Nome"></label>
        <input type="text" name="Nome" id="nomePokemon">
        <label for="Tipo"></label>
        <input type="text" name="Tipo" id="tipoPokemon">
        <button type="submit">Cadastrar</button>
    </form>
    
</body>
</html>